services:
  - type: web
    name: ccbb-bitacola-backend
    env: node
    plan: free
    buildCommand: npm install --production
    startCommand: node server.js
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 3000
